@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: aliceblue;
}
:root {
    --dropshadowForTextBalloon: drop-shadow(0px 0px 3px hsla(0, 0%, 0%, 0.26));
}
.navigationBar {
    position: fixed;
    display: flex;
    background:  none;
    align-items: center;
    width: 100%;
    height: 55px;
    backdrop-filter: blur(2px);
    z-index: 1;
}
.buttons {
    background: none;
    display: flex;
    gap: 25px;
}
.felpex {
    background: none;
    cursor: default;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.home, .showMyContacts, .showAboutMe, .showMyProjects {
    background: none;
    height: 100%;
    cursor: pointer;
    border: none;
    font-size: 18px;
}

/*O container principal, onde tem minha foto e um pouco sobre minha pessoa*/
.main-container {
    background: linear-gradient(hsla(240, 75%, 75%, .6), hsla(300, 75%, 75%, .2), transparent);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 10px;
    grid-template-columns: repeat(7, 1fr) 3fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr) 1fr repeat(3, 0.5fr);
    width: 100%;
}
.showMyContacts_underlay {
    grid-column: 2 / span 8;
    grid-row: 2 / span 6;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0;
    background: rgba(153, 0, 255, 0.25);
    z-index: 0;
}
.shortAboutMe_title {
    text-align: left;
    grid-row: 3;
    grid-column: 3 / span 4;
    font-size: 36px;
    z-index: 1;
}
.shortAboutMe_paragraph {
    text-align: justify;
    z-index: 1;
    grid-row: 4 / span 2;
    grid-column: 3 / span 4;
}
.icon {
    grid-row: 6;
    height: 50px;
    background: white;
    border-radius: 50%;
    filter: var(--dropshadowForTextBalloon);
}
.icon_github {
    grid-column: 3;
}
.icon_linkedin {
    grid-column: 4;
}
.icon_gmail {
    grid-column: 5;
}
.icon_whatsapp {
    grid-column: 6;
}
.myPhoto {
    grid-column: 8;
    grid-row: 3 / span 4;
    width: 350px;
    height: 350px;
    background: linear-gradient(hsla(184, 36%, 69%, 0.005), hsla(239, 55%, 59%, 0.214));
    border-radius: 50%;
    filter: drop-shadow(2px 2px 3px hsla(0, 0%, 0%, 0.26));
}
@keyframes showMyContacts_purple {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*Sobre mim*/
.aboutMe_container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 20px;
    grid-template-columns: 0.5fr 0.5fr 3fr 0.5fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 4fr 1fr 1fr;
    width: 100%;
    background: none;
}
.showAboutMe_underlay {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0;
    background: rgba(153, 0, 255, 0.25);
    grid-column: 2 / span 6;
    grid-row: 1 / span 5;
    z-index: 0;
}
@keyframes showAboutMe_purple {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.photoLaptop_aboutMe {
    grid-column: 3;
    grid-row: 2 / span 3;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0, 0.5));
}
.aboutMe_title {
    white-space: nowrap;
    grid-column: 5;
    grid-row: 2;
    background: none;
    color: hsl(289, 82%, 45%);
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.26));
    z-index: 1;
}
.aboutMe_completed {
    grid-column: 4 / span 3;
    grid-row: 3;
    text-align: justify;
    background: none;
    z-index: 1;
}
.icon_angular {
    grid-column: 4;
    grid-row: 4;
    z-index: 1;
}
.icon_react {
    grid-column: 5;
    grid-row: 4;
    z-index: 1;
}
.icon_js {
    grid-column: 6;
    grid-row: 4;
    z-index: 1;
}
/*Fim do sobre mim*/

/*Banner com os meus projetos*/
.bannerWithMyProjects {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr) 2fr 1fr 1fr 2fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.myProjects_title {
    grid-column: 3 / span 2;
    grid-row: 3;
    z-index: 1;
}
.description {
    text-align: justify;
    z-index: 1;
}
.img {
    border-radius: 10px;
    z-index: 1;
}
.project_title {
    text-align: center;
    z-index: 1;
}
.project_title.first {
    grid-column: 3;
    grid-row: 4;
}
.description.first {
    grid-column: 3;
    grid-row: 5;
}
.img.agora {
    grid-column: 4;
    grid-row: 4 / span 2;
}
.project_title.second {
    grid-column: 4;
    grid-row: 7;
}
.description.second {
    grid-column: 4;
    grid-row: 8;
}
.img.spaceHero {
    grid-column: 3;
    grid-row: 7 / span 2;
}
.showMyProjects_underlay {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0;
    background: rgba(153, 0, 255, 0.25);
    grid-column: 2 / span 4;
    grid-row: 2 / span 8;
    z-index: 0;
}
@keyframes showMyProjects_purple {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



/*Fim do banner*/
.baseboard {
    height: 300px;
    width: 100%;
    background: rgb(48, 48, 48);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: white;
}






