*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    background-color: black;
    background-size: auto auto;
    overflow: hidden;
}

/*Céu gradiente.*/
.sky {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(hsla(240,75%,75%,.6), hsla(300,75%,75%,.2), transparent);
}

/*Círculo branco, apenas para eu saber onde ficará
a minha foto.*/
.whiteCircle {
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 50%;
    transform: translate(-200%, -30%);
}


/*Classe que serve de base para as nuvens.*/
.cloudMain {
    background-color: #fff;
    background-image: linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
    border-radius: 1em;
    box-shadow: inset 0 0 0 px hsla(0,0%,100%,.5);
    position: absolute;
    filter: drop-shadow(0 2px 3px hsla(0,0%,0%,.25));
}

/*Classe base para as estrelas.*/
.stars {
    width: 4px;
    height: 4px;
    background: rgb(255, 255, 255);
    animation: rotate 10s linear infinite;
}

/*Animações que movem as nuvens, a primeira move
as nuvens da esquerda para a direita e a segunda da
direita para a esquerda.*/
@keyframes moveLeftToRight {
    0% { 
        left: -200px;
    }
    100% {
        left: calc(100% + 50px);
    }
}
@keyframes moveRightToLeft {
    0% { 
        right: -200px;
    }
    100% {
        right: calc(100% + 50px); 
    }
}

/*animação apenas para rotacionar as estrelinhas.*/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
        
    }
    100% {
        transform: rotate(360deg);
        height: 3px;
        width: 3px;
    }
}
